.navbar {
  padding-top: 10px;
  margin-bottom: 20px;
}

.demo-headline {
  padding: 50px 0 20px 0;

  .tile-image {
    height: 100px;
    margin: 0;
  }

  small {
    font-size: 30px;
    padding-top: 20px;
  }
}

.start {
  padding-bottom: 30px;
}

.demo-tiles {
  h1 {
    text-align: center;
  }
}

#tarpaulin-cost-calculator {
  .navbar-inner {
    background-color: #E74C3C;
  }
  color: #FFF;

  li {
    margin: 0 20px;
    line-height: 45px;
    padding: 10px 0;

    input {
      margin: 0;
    }
  }
}

footer {
  margin-top: 20px;

  .footer-banner {
    min-height: 0;
  }
}

.tile {
  text-align: left;
  margin-bottom: 10px;
}

.demo-tiles {
  .tile {
    text-align: center;
  }
}

#upload-multiple {
  background: url('/img/uploading.gif') no-repeat 20px 10px;

  &.uploading input {
    visibility: hidden;
  }
}

.dropzone-previews {
  .preview.error.image-preview {
    display: none;
  }
}

#new-job-form {
  legend {
    margin-bottom: 5px;
  }

  .control-group {
    margin: 5px 0;
  }
  input[type=text] {
    height: 9px;
  }
}

#image-details, #upload-tips {
  .tile {
    width: 192px;
    height: 360px;
  }
}

#image-preview {
  width: 672px;
  height: 360px;
  display: table-cell;
  vertical-align: middle;

  img {
    display: block;
    margin: auto;
  }
}

#image_width, #image_height {
  height: 40px;
}
